
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Barron - ProTrading</title>
  <link rel="icon" type="image/gif/png" href="/img//circle-cropped.png">
  <!-- Bootstrap core CSS -->
  <link href="scss/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="scss/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

    <div class="container-fluid">
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-light">
            <div class="py-3 bg-light">
                <div class="media d-flex align-items-center">
                    <div class="media-body">
                        <h4 class="navbar-brand">LOYALTY</h4>
                    </div>
                </div>
            </div>
        </nav>

        <div class="row w-100 bg-white">
            <!-- Vertical navbar -->
            <div class="col-md-2">
                <div class="bg-white" id="sidebar">

                    <p class="text-gray font-weight-bold ">Management Tools</p>

                    <ul class="nav flex-column bg-white mb-0">
                        <li class="nav-item"> 
                            <button type="button" class="btn btn-primary float-right">
                                <a href="/" class="nav-link text-dark font-italic bg-light"> 
                                    Customer
								    Management
						        </a>
                            </button>
                        </li>
                            
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary float-right">
                                <a th:href="@{/gift/}" class="nav-link text-dark font-italic bg-light">
                                    Gift Management
                                </a>
                            </button>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- End vertical navbar -->

            <!-- start table -->
            <div class="col-md-10">

                <!-- start breadcrumb -->
                <div class="row">
                    <nav aria-label="breadcrumb" class="w-100" style="background-color: white;">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="#">Customer Management</a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- end breadcrumb -->

                <div class="row">
                    <div class="col-12 card px-0">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-3">
                                    <h4>Customer management</h4>
                                </div>
                                <div class="col-9 d-flex justify-content-end">
                                    <a class="btn btn-primary" th:href="@{/save}">
                                        Thêm mới
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            <form class="w-100" th:action="@{/search}" method="GET">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="phone" placeholder="Phone's customer"
                                        aria-label="Phone's customer" aria-describedby="button-addon2" th:value="${search}">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit" style="width: 10em;"
                                            id="button-addon2">Tìm kiếm</button>
                                    </div>
                                </div>
                            </form>
							<div class="table-responsive" style="height: 500px">
	                            <table class="table table-triped text-center border">
	                                <thead class="thead-dark">
	                                    <tr>
	                                        <th>#</th>
	                                        <th>Họ</th>
	                                        <th>Tên</th>
	                                        <th>SĐT</th>
	                                        <th>Hình ảnh</th>
	                                        <th>Hành Động</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                    <tr th:each="person, i : ${persons}">
	                                        <td class="align-middle">[[${i.index + 1}]]</td>
	                                        <td class="align-middle w-25">[[${person.firstName}]]</td>
	                                        <td class="align-middle w-25">[[${person.lastName}]]</td>
	                                        <td class="align-middle w-25">[[${person.phone}]]</td>
	                                        <td class="align-middle w-25">
	                                            <img th:unless="${person.picture == null}" th:src="@{'/images/' + ${person.picture}}"
	                                                class="img-thumbnail rounded mx-auto d-block" th:alt="${person.picture}">
	                                                
                                                <img th:if="${person.picture == null}" th:src="@{'/images/default_image.png'}"
                                                	class="img-thumbnail rounded mx-auto d-block" alt="Default picture">
	                                        </td>
	                                        <td class="align-middle w-25">
	                                            <div class="btn-group" role="group" aria-label="button-group">
	                                                <a 
	                                                	type="button" class="btn btn-outline-primary"
	                                                	style="width: 8em;" th:href="@{'/update/' + ${person.id}}"
	                                                >
	                                                	Cập nhật
                                                	</a>
                                                	
	                                                <a type="button" class="btn btn-outline-primary" style="width: 8em;" th:href="@{'/delete/' + ${person.id}}">Xóa</a>
	                                            </div>
	                                        </td>
	                                    </tr>
	                                </tbody>
	                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
       
</body>

</html>
